.sticky {
	display: block;
}

.post,
.page {
	padding: 0 0 ;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.wp-block-video video {
	min-height: 300px;
}