/*!
Theme Name: MeerGroeneDaken
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Custom theme: MeerGroeneDaken, developed by
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: meergroenedaken
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

MeerGroeneDaken is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:1.8rem;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:#070606;font-family:"Open Sans",sans-serif;font-size:1.3rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}body{background:#fff}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:#2d2e31}a:visited{color:#7f8b82}a:hover,a:focus,a:active{color:#579f6a}a:focus{outline:thin dotted}a:hover,a:active{outline:0}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);line-height:1;padding:0.6em 1em 0.4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}.no-sidebar .site{display:grid;grid-template-columns:1fr minmax(450px, 1170px) 1fr;grid-template-areas:"header" "main" "footer"}.no-sidebar .site header#masthead{grid-column:2 / 3}.no-sidebar .site .below-header{grid-column:1 / 4}.no-sidebar .site .banner{grid-column:1 / 4}.no-sidebar .site main{grid-column:2 / 3}.no-sidebar .site footer{grid-column:1 / 4}.no-sidebar .site #mapwrapper{grid-column:1 / 4}.no-sidebar .site .container{grid-column:1 / 4}.main-navigation{display:block;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{position:relative;font-size:1rem}.main-navigation a{display:block;text-decoration:none}.menu-toggle ul#primary-menu,.main-navigation.toggled ul#primary-menu{display:block;position:absolute;right:2rem;top:120px;z-index:1000;background-color:rgba(255,255,255,0.95);padding:1rem 2rem 1rem 2rem;box-shadow:10px 10px 8px 0px #888888}.menu-toggle ul#primary-menu li,.main-navigation.toggled ul#primary-menu li{padding:1rem}@media screen and (min-width: 57.5em){#site-navigation #primary-menu{display:flex;justify-content:flex-end}#site-navigation #primary-menu li{margin-left:5px}#site-navigation #primary-menu li a{padding:8px 16px}#site-navigation #primary-menu li.current-menu-item,#site-navigation #primary-menu li:hover{background-color:#df5757;border-radius:4px}#site-navigation #primary-menu li.current-menu-item a,#site-navigation #primary-menu li:hover a{color:#fff}.menu-toggle{display:none}.main-navigation ul{display:flex}}.comment-navigation,.posts-navigation,.post-navigation{display:none}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}.sticky{display:block}.post,.page{padding:0 0}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.wp-block-video video{min-height:300px}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}h1{font-weight:700;text-shadow:0 2px 0 rgba(0,0,0,0.1);color:#579f6a;text-align:center}h2{color:#579f6a}h2.entry-title{font-size:1.2rem}h2 a{text-decoration:none;color:#579f6a}article p{font-size:1rem;margin-top:0}.center{text-align:center}.home main{padding-top:2rem}.site header#masthead{display:grid;grid-template-columns:270px auto}.site header#masthead .site-branding{padding:2rem 0;margin-left:1rem}.site header#masthead .main-navigation{padding-top:2rem}.site header#masthead .main-navigation button.menu-toggle{background-image:url("/wp-content/themes/meergroenedaken/images/bars-solid.svg");background-position:center center;background-repeat:no-repeat;position:absolute;right:1rem;background-color:transparent;border-color:#de5a5b}.site .below-header{height:14px;background-image:url("/wp-content/themes/meergroenedaken/images/gras.png");background-position:center bottom}.site .banner{min-height:400px}.site .banner a{border:solid 1px white;padding:1rem;border-radius:4px}.site .banner p{background-color:rgba(0,0,0,0.25);padding:1rem;border-radius:5px}.site .container{padding:0 1rem}.site .container.red{background-color:#de5a5b}.site footer#colophon{padding:0 1rem;background-color:#579f6a;margin-top:2rem}.site footer#colophon .koffie{max-width:1000px;margin:0 auto}.site footer#colophon .koffie h1{color:#fff;margin-top:4rem;font-size:2rem}.site footer#colophon .koffie p{color:#fff;font-size:1.6rem;text-align:center}.site footer#colophon .koffie .icons{margin:0 auto;text-align:center}.site footer#colophon .koffie .icons .icon{display:inline-block;margin:0 auto;padding:0 2rem;text-align:center;color:#fff;margin:1rem auto}.site footer#colophon .koffie .icons .icon a{color:#fff;text-decoration:none}.site footer#colophon .koffie .icons .icon span{display:block}.site footer#colophon .koffie .icons .icon img{width:40px;height:40px}.site footer#colophon #contact-form{padding:3rem;max-width:1000px;margin:0 auto}.site footer#colophon #contact-form form{display:grid;margin-top:3rem}.site footer#colophon #contact-form form .input-fields{display:grid;grid-template-columns:repeat(auto-fill, minmax(400px, 1fr))}.site footer#colophon #contact-form form .input-fields input,.site footer#colophon #contact-form form .input-fields textarea{max-width:90%}.site footer#colophon #contact-form form label{color:#fff}#re{grid-column:1 / 4;text-align:center;color:#ccc;background-color:#467953;font-size:1rem}#re a{color:#ccc;text-decoration:none}#post-listing{display:grid;grid-column:2 / 3;grid-template-columns:repeat(auto-fill, minmax(300px, 1fr))}body.home #sub-main .entry-content,body.home main .entry-content,body.page-template-post-listing #sub-main .entry-content,body.page-template-post-listing main .entry-content{display:grid;grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));grid-gap:2rem}body.home #sub-main .entry-content .wp-block-group,body.home main .entry-content .wp-block-group,body.page-template-post-listing #sub-main .entry-content .wp-block-group,body.page-template-post-listing main .entry-content .wp-block-group{display:flex;flex-flow:column;padding:0 1rem}body.home #sub-main h1,body.home main h1,body.page-template-post-listing #sub-main h1,body.page-template-post-listing main h1{grid-column:1 / 4}body.home #sub-main article,body.home main article,body.page-template-post-listing #sub-main article,body.page-template-post-listing main article{display:flex;flex-flow:column;background:white;padding:2rem}body.home #sub-main article a,body.home main article a,body.page-template-post-listing #sub-main article a,body.page-template-post-listing main article a{text-decoration:none}body.home #sub-main article a h2,body.home main article a h2,body.page-template-post-listing #sub-main article a h2,body.page-template-post-listing main article a h2{grid-column:1 / 4;color:#579f6a}body.home #sub-main article a img,body.home main article a img,body.page-template-post-listing #sub-main article a img,body.page-template-post-listing main article a img{order:-1;align-self:center}#vhg{position:absolute;top:210px;left:0}#wiebenik{display:grid;grid-column:1 / 4;padding:0 3rem}#wiebenik h1{text-align:center;margin-bottom:3rem;grid-column:1 / 4}#wiebenik .icons{grid-column:1 / 4;margin:0 auto}#wiebenik p{grid-column:1 / 4;margin-top:3rem;padding:0 1rem;max-width:1200px;text-align:center;margin:0 auto}#wiebenik .social-icons{grid-column:1 / 4;text-align:center}#wiebenik .social-icons a{text-decoration:none;margin:0 1rem}#wiebenik .social-icons a img{color:#579f6a;display:inline-block;width:80px;height:80px;padding-top:18px;margin:10px auto}.page-id-17 .entry-content{display:grid;grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));grid-gap:1rem}.page-id-17 .entry-content .wp-block-group{display:flex;flex-direction:column}.page-template-post-listing main{display:grid;grid-template-columns:repeat(auto-fill, minmax(340px, 1fr))}main{padding:1rem}
