.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}
			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			// :hover > a,
			// .focus > a {
			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		font-size: 1rem;


		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled  {
	ul#primary-menu {
		display: block;
		position: absolute;
		right: 2rem;
		top: 120px;
		z-index: 1000;
		background-color: rgba(255, 255, 255, 0.95);
		padding: 1rem 2rem 1rem 2rem;
		box-shadow: 10px 10px 8px 0px #888888;
		li {
			padding: 1rem;
			
		}
	}
}

@media screen and (min-width: 57.5em) {
	#site-navigation {
		#primary-menu {
			 display: flex;
                justify-content: flex-end;
			li {
				margin-left: 5px;
				a {
					padding: 8px 16px;
					
				}
				&.current-menu-item,
				&:hover {
					background-color: $color__background-menu;
					border-radius: 4px;
					a {
						color: $color__active-menu;
					}
				}
			}
		}
	}
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	display: none;
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
