.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: 1fr minmax(450px, 1170px) 1fr;
		grid-template-areas:
			"header"
			"main"
			"footer";
	header#masthead {
		grid-column: 2 / 3;
	}
	.below-header {
		grid-column: 1 / 4;
	}
	.banner {
		grid-column: 1 / 4;
	}
	main {
		grid-column: 2 / 3;
	}
	
	footer {
		grid-column: 1 / 4;
	}
	#mapwrapper {
		grid-column: 1 / 4;
	}
	.container {
		grid-column: 1 / 4;
	}
}
}
