$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2d2e31; 
$color__link-visited:#7f8b82; //purple
$color__link-hover: #579f6a; //midnightblue
$color__text-main: #070606;
$color__green: #579f6a;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__white: #fff;

$color__background-menu: #df5757;
$color__active-menu: #ffffff;
$color__menu: #717171;
$color__red: #de5a5b;
