h1 {
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    color: $color__green; 
    text-align: center;
}
h2 {
    color: $color__green;
    &.entry-title {
        font-size: 1.2rem;
    }
    a {
        text-decoration: none;
        color: $color__green;
    }
}
article {
    p {
        font-size: 1rem;
        margin-top: 0;
    }
}
.center {
    text-align: center;
}
.home main {
    padding-top: 2rem;
}
.site {
    header#masthead {
        display: grid;
        grid-template-columns: 270px auto;
        .site-branding {
            padding: 2rem 0;
            margin-left: 1rem;
        }
        .main-navigation {
            padding-top: 2rem;
            button.menu-toggle {
                background-image: url('/wp-content/themes/meergroenedaken/images/bars-solid.svg');
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                right: 1rem;
                background-color: rgba(0, 0, 0, 0);
                border-color: $color__red;
            }
           
        }
    }
    .below-header {
        height: 14px;
        background-image:url('/wp-content/themes/meergroenedaken/images/gras.png');
        background-position: center bottom;
    }
    .banner {
        min-height: 400px;
        a {
            border: solid 1px white;
            padding: 1rem;
            border-radius: 4px;
        }
        p {
            background-color: rgba(0, 0, 0, 0.25);
            padding: 1rem;
            border-radius: 5px;
        }
    }
    .container {
        padding: 0 1rem;
        &.red {
            background-color: $color__red;
        }
    }
    footer#colophon {
        // display: grid;
        padding: 0 1rem;
        // grid-template-columns: 1fr minmax(450px, 1200px) 1fr;
        background-color: #579f6a;
        margin-top: 2rem;
        .koffie {
            max-width: 1000px;
            margin: 0 auto;
            h1 {
                color: #fff;
                // grid-column: 1 / 4;
                margin-top: 4rem;
                font-size: 2rem;
            }
            p {
                // grid-column: 1 / 4;
                color: #fff;
                font-size: 1.6rem;
                text-align: center;
            }
            .icons {
                margin: 0 auto;
                text-align: center;
                .icon {
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0 2rem;
                    text-align: center;
                    color: #fff;
                    margin: 1rem auto;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                    span {
                        display: block;
                    }
                    img {
                        width: 40px;
                        height: 40px;
        
                    }
                }
            }
        
        }
        #contact-form {
            padding: 3rem;
            max-width: 1000px;
            margin: 0 auto;
            // grid-column: 2 / 3;
            form {
                display: grid;
                margin-top: 3rem;
                .input-fields {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                    input, textarea {
                        max-width: 90%;
                    }
                }
                label {
                    color: $color__white;
                }
            }
        }
    }

}
#re {
    grid-column: 1 / 4;
    text-align: center;
    color: #ccc;
    background-color: #467953;
    font-size: 1rem;
    a {
        color: #ccc;
        text-decoration: none;
    }
}

#post-listing {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));   
}

body.home,
body.page-template-post-listing {
    #sub-main,
    main { 
        .entry-content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 2rem;
            .wp-block-group {
                display: flex;
                flex-flow: column;
                padding: 0 1rem;
            }
        }
        
        h1 {
            grid-column: 1 / 4;
          
        }
        article {
            display: flex;
            flex-flow: column;
            background: white;
            padding: 2rem;
            a {
                text-decoration: none;
                h2 {
                    grid-column: 1 / 4;
                    color: $color__green;
                }
                img {
                    order: -1;
                    align-self: center;
                    // width: 100%;
                }
        
            }

        }
        
    }
}

#vhg {
    position: absolute;
    top: 210px;
    left: 0;
}

#wiebenik {
    display: grid;
    grid-column: 1 / 4;
        padding: 0 3rem;
    h1 {
        text-align: center;
        margin-bottom: 3rem;
        grid-column: 1 / 4;
    }
    .icons {
        grid-column: 1 / 4;
        margin: 0 auto;
    }
    p {
        grid-column: 1 / 4;
        margin-top: 3rem;
        padding: 0 1rem;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }
    .social-icons {
        grid-column: 1 / 4;
        text-align: center;
        a {
            text-decoration: none;
            margin: 0 1rem;
            img {
                color: #579f6a;
                display: inline-block;
                width: 80px;
                height: 80px;
                // border: solid 2px;
                // border-radius: 42px;
                padding-top: 18px;
                margin: 10px auto;

            }
        }
    }
}

.page-id-17 {
    .entry-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 1rem;
        .wp-block-group {
            display: flex;
            flex-direction: column;
        }
    }
}
.page-template-post-listing {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}

main {
    padding: 1rem;
}